
.banner img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}


.container {
    width: 70%;
    margin: 60px auto;
}

.small-title {
    font-size: 14px;
    color: #555;
    
}

.sub-title {
    font-size: 18px;
    color: #2f57c1;
    margin-top: 5px;

}

.main-title {
    font-size: 32px;
    color: #1c3d8c;
    margin-bottom: 20px;
}

.content {
    display: flex;
    gap: 20px;
}

.text {
    flex: 2;
    font-size: 16px;
}

.image-box {
    flex: 1;
}

.image-box img {
    width: 100%;
    border-radius: 0px;
}